.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 40px;
    text-transform: uppercase;
    font-weight: 500;
}

.item {
    padding-bottom: 10px;
}

.nonactive {
    color: white;
    text-decoration: none;
}

.active {
    color: gold;
    text-decoration: none;
}

.item a:hover {
    color: gray;
    transition: color .2s ease;
}

